<% content_for :title, "Editing author" %>

<h1>Editing author</h1>

<%= render "form", author: @author %>

<br>

<div class="action-links author-links">
    <%= link_to "Show this author", @author %>
    <%= link_to "Back to authors", authors_path, class: 'back-link' %>
</div>