<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Authors" %>

<h1>Authors</h1>

<div class="author-list">
    <% @authors.each do |author| %>
    <div class="author-item">
        <%= render author %>
        <div class="author-links">
            <%= link_to "Show this author", author, class: "show-link" %>
        </div>
    </div>
    <% end %>
</div>

<%= link_to "New Author", new_author_path, class: "new-author-link" %>