<% content_for :title, "Editing book" %>

<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div class="action-links book-links">
    <%= link_to "Show this book", @book %>
    <%= link_to "Back to books", books_path, class: 'back-link' %>
</div>